{% extends "base.html" %}

{%  block content %}
   <div class="d-sm-flex align-items-center justify-content-between mb-4">
    {% if flag == 'True' %}
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    {% elif flag == 'False' %}
    <h1 class="h3 mb-0 text-gray-800">Manual Audit</h1>
    {% else %}
    <h1 class="h3 mb-0 text-gray-800">File Upload</h1>
    {% endif %}
  </div>
  {% for key,i in data.items %}
      {% if i|length %}
      <div style="padding:10px 30px;overflow-x:scroll;background-color: white;margin-bottom:40px;">

            <p><h5 class="m-0 font-weight-bold text-primary" style="position: absolute;">{{ key }}</h5></p>
            <br><br>
            <table class="table table-bordered table-dark table-striped">
              <thead>
                  <tr>
                      {% for j in i.0   %}
                          <th align = 'center'>{{ j }}</th>
                      {% endfor %}
                      <th>Link Customber</th>
                  </tr>
              </thead>
              <tbody>
                  {% for j in i %}
                  <tr>
                      {% for key, value in j.items %}
                          <td>{{ value }}</td>
                      {% endfor %}
                    <td><a class="btn btn-primary">Link Customer</a></td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
        </div>
        {% endif %}
  {% endfor %}
   {% if flag == 'null' %}
      {% if error == 'True' %}
      <p>Failed to Parse !! Some Error Occured.</p>
      <p>Make sure, File and Type Match & Try Again</p>
      <p>If Error Persists Contact Administrator</p>
      {% endif %}
      <div class = "container">
          <div class = "row">
              <div class = "col-sm-4"></div>
              <div class = "col-sm-5" style = "border: 1px solid gray; padding:40px;background-color: tomato;color: yellow;">
                  <form enctype="multipart/form-data" method="post">
                      {% csrf_token %}
                      {{ form.as_p }}
                      <button class = "btn btn-primary">Submit</button>
                  </form>
              </div>
          </div>
      </div>
      {% endif %}


{%  endblock content %}